#header {
  color: #6c94be;
  font-size: 18px;
}
#header2 {
  color: #d5d5d5;
  height: 50%;
  font-size: saturate(20px, 10%);
  background-color: #ffffff;
}
.my-mixin {
  color: black;
}
.my-font-mixin {
  font-size: 20px;
}
.cat,
#wscat {
  background-color: aquamarine;
}
#header3 {
  color: black;
  background: white;
  font-size: 20px;
  background-color: aquamarine;
}
#header4 {
  color: black;
}
#header4 .navigation {
  font-size: 12px;
}
#header4 .logo {
  width: 300px;
}
#header4 {
  color: black;
}
#header4 .navigation {
  font-size: 12px;
}
#header4 .logo {
  width: 300px;
}
#header4:before {
  content: "你好";
}
#header4-wsscat {
  background-color: bisque;
}
#header5 #logo {
  color: red;
}
.background {
  background-color: #555555;
  font-size: 16px;
}
